#Ignore all files
/*
#Whitelist files
!.gitignore
!changelog.txt
!doorstop_config.ini
!README.md
!start_game_bepinex.sh
!start_server_bepinex.sh
!winhttp.dll
#Whitelist directories
!BepInEx/
!BepInEx/config/
!BepInEx/plugins/
!BepInEx/patchers/
BepInEx/core/LogOutput.log